<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="build.version" content="{{ eleventy.version }}" />
    <meta name="config.version" content="{{ config.version }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/vars.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <h1>{{ title }}</h1>

    <main>{{ content }}</main>
  </body>
</html>
